# SPDX-License-Identifier: zlib-acknowledgement

*
!*/

!.gitignore
!.gitattributes

!README.md

!https-server.py

!index.html
!style-flex.css
!style-grid.css
!script.js
!favicon.ico

!web/**/**.js
!web/**/**.html
!web/**/**.css
!web/**/**.mp4
